html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary: #8257E5;
  --primary-hover: #7316be;
  --background: #c7fcd9;
  --box-background: #bc20d1;
  --text-color: #ffffff;
  --green: #197caa;
}

body {
  background: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0;
}

body, input, button {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

button {
  cursor: pointer;
}
